back-end/stepFunction.txt
{
  "Comment": "Polling step function for translate job complete",
  "StartAt": "LambdaPoll",
  "States": {
    "LambdaPoll": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:313039493322:function:la-presse-translation-status",
      "InputPath": "$.detail.responseElements.jobId",
      "ResultPath": "$.detail.responseElements.jobStatus",
      "Next": "Job Complete?",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Job Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.detail.responseElements.jobStatus",
          "StringEquals": "IN_PROGRESS",
          "Next": "Wait X Seconds"
        },
        {
          "Variable": "$.detail.responseElements.jobStatus",
          "StringEquals": "SUBMITTED",
          "Next": "Wait X Seconds"
        },
        {
          "Variable": "$.detail.responseElements.jobStatus",
          "StringEquals": "COMPLETED",
          "Next": "Update Database"
        },
        {
          "Variable": "$.detail.responseElements.jobStatus",
          "StringEquals": "FAILED",
          "Next": "Update Database"
        },
        {
          "Variable": "$.detail.responseElements.jobStatus",
          "StringEquals": "STOPPED",
          "Next": "Update Database"
        }
      ],
      "Default": "Wait X Seconds"
    },
    "Wait X Seconds": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "LambdaPoll"
    },
    "Update Database": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:313039493322:function:la-presse-result-function",
      "InputPath": "$.detail.responseElements.jobId",
      "ResultPath": "$.detail.responseElements.s3url",
      "Next": "Notify",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Subject": "Translate Batch Job Notification",
        "Message": {
          "JobId.$": "$.detail.responseElements.jobId",
          "S3OutputLocation.$": "$.detail.requestParameters.outputDataConfig.s3Uri",
          "JobStatus.$": "$.detail.responseElements.jobStatus",
          "PreSignedUrl.$": "$.detail.responseElements.s3url"
        },
        "MessageAttributes": {
          "JobId": {
            "DataType": "String",
            "StringValue.$": "$.detail.responseElements.jobId"
          },
          "S3OutputLocation": {
            "DataType": "String",
            "StringValue.$": "$.detail.requestParameters.outputDataConfig.s3Uri"
          },
          "PreSignedUrl": {
            "DataType": "String",
            "StringValue.$": "$.detail.responseElements.s3url"
          }
        },
        "TopicArn": "arn:aws:sns:us-east-1:313039493322:TranslateJobNotificationTopic"
      },
      "End": true
    }
  }
}